@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
   font-family: "helvetica-bold";
   font-weight: 800;
   src: url("/Helvetica-Bold.ttf") format('woff');
}

@font-face {
   font-family: "helvetica-light";
   src: url("/Helvetica-Light.ttf") format('woff');
   font-weight: 400;
}

body, html {
   padding: 0;
   margin: 0;
}

body * {
   box-sizing: border-box;
}

button, textarea, input {
   border: none;
   outline: none;
}

h1, h2, h3, h4, h5, h6, p {
   padding: 0;
   margin: 0;
   font-family: "heveltica", monospace;
}